*{
    box-sizing: border-box;
    box-sizing: content-box;
}
body{
    margin: 0;
    background-color: #cca5a5;   
}
.Home-tab-container{
background-color: #fff;
width: 1440px;
height: 2201px;
margin: 50px auto;
}
.section{
display: flex;
justify-content: flex-end;
gap: 334px;
width: 1440px;
height: 161px;
margin-top: 70px;
}
.logo1{
    width: 136px;
    height: 37px;
    margin-top: 70px;
    margin-bottom: 59px;
}
.icon{
display: inline-flex; 
width: 395px;
height: 27px;
justify-content: flex-end;
margin-right: 252px;
margin-left: 90px;
gap: 17px;
}
.icon-fb{
width: 25px;
height: 25px;
margin: 72px 21px 64px 395px;
}
.icon-inst{
    width: 25px;
    height: 25px;
    margin: 72px 21px 64px 21px;
}
.container{
display: flex;
flex-wrap: wrap;
background: #FAC960;
width: 1440px;
height: 421px;
.name1{
width: 679px;
color: #8A6D2F;
text-align: center;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 54px; /* 122.727% */
padding-top: 102px;
margin-left: 381px;
}
.input{
width: 560px;
height: 54px;
border-radius: 2px 0px 0px 2px;
background: #FFF;
text-decoration: none;
margin-left: 320px;
margin-bottom: 117px;
}
.input1{
display: inline-flex;
width: 330px;
color: #999;
padding-left: 36px;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 54px; /* 180% */
    }
}
.get{
    display: inline-flex;
    width: 240px;
height: 54px;
border-radius: 0px 2px 2px 0px;
background: #A8863D;
margin-left: 6px;
text-align: center;
text-decoration: none;
margin-bottom: 117px;
.get1{
    width: 166px;
    height: 54px;
color: #FFF;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 54px; /* 180% */
   }
  }
 .container2{
display: flex;
flex-wrap: wrap;
width: 1440px;
height: 438px;
background: #F2F2F2;
border: 0;
}
.name2{
width: 278px;
color: rgba(0, 0, 0, 0.56);
text-align: center;
font-family: Roboto;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 97.297% */
margin-top: 77px;
margin-left: 581px;
}
.text2{
width: 819px;
color: rgba(0, 0, 0, 0.40);
text-align: center;
font-family: Roboto;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 130.435% */
margin-top: 32px;
margin-left: 311px;
margin-bottom: 56px;
}
.infinity{
    width: 187px;
    height: 96px;
    flex-shrink: 0; 
    margin-left: 627px;
    margin-bottom: 81px;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 625px;
    background: #FFF;
}
.name3{
width: 253px;
color: rgba(0, 0, 0, 0.56);
text-align: center;
font-family: Roboto;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 97.297% */
margin-top: 88px;
margin-left: 594px;
}
.text3{
    width: 819px;
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 130.435% */ 
    margin-top: 32px;
    margin-left: 311px;
}
.mobile{
    width: 190px;
    height: 354.567px;
    margin-left: 625px;  
    margin-bottom: 21px;
}
.container4{
display: flex;
flex-wrap: wrap;
width: 1440px;
height: 313px;
flex-shrink: 0;
background: #FAC960;
}
.name4{
width: 275px;
color: #8A6D2F;
text-align: center;
font-family: Roboto;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 97.297% */
margin-top: 54px;
margin-left: 583px;
}
.text4{
width: 506px;
color: rgba(0, 0, 0, 0.40);
text-align: center;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 136.364% */
margin-top: 31px; 
margin-left: 467px;
}
.but{
    width: 61px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #758696;
    background: #FFF;
    margin-left: 690px;
    margin-bottom: 107px;
}
.container5{
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 240px;
    flex-shrink: 0;
    background: #F2F2F2;
}
.logo5{
width: 37px;
height: 37px;
flex-shrink: 0;
margin-top: 81px;
margin-left: 702px;
}
.nav5{
    display: inline-flex;
    justify-content: center;
    row-gap: 20px;
    margin-left: 672px;
    margin-bottom: 80px;
    margin-top: 24px;
}
.twit{
width: 17.999px;
height: 14.626px;
flex-shrink: 0;
fill: #000;
margin-right: 22px;
}
.fb{
 width: 17px;
height: 17px;
flex-shrink: 0;
margin-right: 22px;
}
.mail{
width: 17px;
height: 17px;
flex-shrink: 0;
}
