*{
    box-sizing: border-box;
    box-sizing: content-box;
}
body{
    margin: 100px;
    background-color: dimgray;
}
.content{
    display: flex;
    width: 1440px;
    height: 1000px;
    background: #FFF;
}
header{
    display: flex;



.logo1{
    width: 141px;
    text-decoration: none;
    height: 38px;
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 38.4px */
letter-spacing: 2px;
margin-top: 55px;
margin-left: 137px;}

.hom{
    display: flex;
    text-decoration: none;
    
    margin-top: 62px;
    margin-left: 281px; 
    
    width: 55px;
    height: 23px;
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 22.8px */
letter-spacing: 1px;}
.amenities{
    display: flex;
    text-decoration: none;
    width: 94px;
    height: 23px;
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 22.8px */
letter-spacing: 1px;
margin-top: 62px;
margin-left: 35px;
}
.contact{
    display: flex;
    text-decoration: none;
    width: 103px;
    height: 23px;
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 22.8px */
letter-spacing: 1px;
margin-top: 62px;
margin-left: 35px;
    }
.category{
    display: flex;
    text-decoration: none;
    width: 85px;
    height: 23px;
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 22.8px */
letter-spacing: 1px;
margin-top: 62px;
margin-left: 284px;
}
.nav2{
display: flex;
width: 24px;
height: 24px;
width: 24px;
height: 24px;
flex-shrink: 0;
margin-top: 64px;
margin-left: 31px;
}
.dot1{ 
    width: 7px;
    height: 7px;
    flex-shrink: 0;
    margin-top: 88px;
    margin-left: -725px;
}
}
.picture{
    display: flex;
    width: 411px;
    height: 533px;
    flex-shrink: 0; 
    margin-top: 253px;
    margin-left: -483px;
}
.box{
display: flex;
    width: 1440px;
    height: 118px;
    flex-shrink: 0;
    background: #3F9AB7;
    margin-top: 837px; 
    position: absolute;
    margin: left -618px; 
    
}
.foto1{
    display: flex;
    margin-bottom: 31px;
    margin-left 0;
}
.el7{
    width: 55px;
    height: 55px;
flex-shrink: 0;
border-radius: 55px;
border: 3px solid #FFF;
background: url(<path-to-image>), lightgray 50% / cover no-repeat, #C4C4C4;
 margin-left: 578px;
margin-top: 32px;

    
}
.el6{
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 55px;
border: 3px solid #FFF;
background: url(<path-to-image>), lightgray 50% / cover no-repeat, #C4C4C4; 
margin-left: -33px;
margin-top: 32px;


}
.el5{
    width: 55px;
height: 55px;
flex-shrink: 0;
border-radius: 55px;
border: 3px solid #FFF;
background: url(<path-to-image>), lightgray 50% / cover no-repeat, #C4C4C4;
margin-top: 32px;
margin-left: -33px;

}
h6{
    color: var(--white, #FFF);
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--white, #FFF);
font-family: Nunito Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 43px;
margin-left: 32px;
}
h4{
   width: 144px; 
   height: 29px;
   color: #F2994A;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 28.8px */
letter-spacing: 1px;
margin-top: 246px;
margin-left: 149px;

}
h1{
    width: 553px;
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 65px;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 78px */
letter-spacing: 1px;
  margin-top: 295px;
  margin-left: -144px;
}
.line{
    width: 188px;
height: 6px;
flex-shrink: 0;
border-radius: 4px;
background: #F2994A;
margin-top: 512px;
margin-left: -553px;
}
p{
 width: 421px;  
 height: 116px; 
 color: var(--Gray-2, #4F4F4F);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 28.8px */
letter-spacing: 1px;
margin-top: 542px;
margin-left: -188px;
}
.play{
    display: flex;
    margin-top: 690px;
margin-left: -421px;

}

.el71{
    
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    fill: #3F9AB7;
    
}
.play1{  
    width: 36px;
height: 32px;

flex-shrink: 0;
fill: #FFF;
margin-left: -60px;
margin-bottom: 25px;
} 
h5{
    width: 118px;
    height: 22px;
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 21.6px */
letter-spacing: 1px;
margin-left: 21px;
}
.ikon3{
    display: flex;
    float: right;
    flex-direction: column;
    margin-top: 690px;
    margin-left: 376px;
    list-style: none;
}
.fb{
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    margin-top: 18px;
}
.fb:active{
    width: 34px;
height: 34px;
flex-shrink: 0;
border-radius: 100px;
background: #F2994A;
} 
.inst{
    width: 18px;
    height: 18px; 
    margin-top: 18px;
} 
.tw{
    width: 18px;
    height: 18px;
    flex-shrink: 0; 
}  
.plus{
    width: 11px;
    height: 11px;
    flex-shrink: 0;  
    margin-top: 257px;
    margin-left: -125px;
}


   



    


