:root{
    max-width: 100%;
}
*{    
    box-sizing: border-box;
    box-sizing: content-box;
}
body{
width: 1440px;
margin: 0;

}
header{
display: flex;
flex-wrap: nowrap;
width: 1440px;
height: 70px;
    flex-shrink: 0;
background: #FFF;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);  

}
.logo{
    width: 102px;
height: 20px;
flex-shrink: 0;
margin-top: 26px;
margin-left: 70px;
}
.group1{
    /*width: 557px;
    height: 45px;*/
    flex-shrink: 0;
    margin-top: 25px; 
    margin-left: 271px; 
}
/*.line{
    
    width: 96px;
    height: 4px;
    flex-shrink: 0;
    background: #000;
    
    
    }*/
.in1{
    text-decoration: none;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.8px;  

}
.in2{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.8px;  
    text-decoration: none;
    margin-left: 95px;
}
.in3{
    color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 2.8px;
text-decoration: none;
margin-left: 94px;
}
.group2{   
height: 24px;
margin-left: 260px;
margin-top: 24px;
}
.mag{
    width: 24px;
    height: 24px;
    flex-shrink: 0;     
}
.user{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 20px; 
}
.shop{
width: 24px;
height: 24px;
flex-shrink: 0;
margin-left: 20px;
}

.content{
    
    display: flex;
    flex-wrap: nowrap;
    border: 0;
  width: 1440px;
  height: 768px;
  background: #C42129;
  
  }
  /*.container1{
    grid-column: 692px 698px;
  }*/
  
  h1{
width: 540px;
color: #FFF;
font-family: Poppins;
font-size: 150px;
font-style: normal;
font-weight: 700;
line-height: 150px; /* 100% */
margin-top: 0px;
padding-top: 127px;
margin-left: 152px;
  }
  p{
position: absolute;
width: 560px;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
margin-top: 285px;
margin-left: 152px;
  }
  .puk{
position: absolute;
    width: 272px;
    height: 52px;
border-radius: 6px;
background: #000;
box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.25);
text-align: center;
text-decoration: none;
margin-top: 369px;
margin-left: 152px;
border: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
text-transform: uppercase;
padding-top: 24px;

  }
  .play{
    display: block;
position: absolute; 
width: 50px;
height: 50px; 
background-color: #C42129;
border: 0;
margin-top: 370px;
margin-left: 470px;
}
.puk2 a::after{
    display:block;
    opacity: 1;
    position: relative;

}


h6{
    position: absolute;
color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    margin-left: 528px;
    margin-top: 383px;
    
}
.box1{
    position: absolute;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid #FFF; 
    margin-top: 485px;
    margin-left: 152px;
}

.box2{
    position: absolute;
    width: 80px;
height: 80px;
flex-shrink: 0;
border-radius: 7px;
background: #FFF;
margin-top: 485px;
margin-left: 264px;
}
.box3{
position: absolute;
width: 80px;
height: 80px;
flex-shrink: 0;
border-radius: 7px;
border: 1px solid #FFF;
margin-top: 485px;
margin-left: 376px;
}
.box4{
position: absolute;
width: 80px;
height: 80px;
flex-shrink: 0;
border-radius: 7px;
border: 1px solid #FFF;
margin-top: 485px;
margin-left: 488px;
}
.potbig{
    position: absolute;
    width: 421px;
    height: 542px;
    flex-shrink: 0; 
    margin-top: 68px;
    margin-left: 812px;
}
.textbig{
    position: absolute;
    margin-top: 144px;
    margin-left: 1167px;
}
.in{
    position: absolute;
    width: 10.002px;
    height: 64px;
    flex-shrink: 0;
    margin-top: 369px;
    margin-left: 1360px;

}
@media screen and (max-width:600px){
  html,body{
    font-size: 5px;
  }}
  :root{

  }